<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <main>
    <%- include('../partials/sidebar.ejs') %>

    <%- body %>
  </main>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>